spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/EmploySystem
    username: y24
    password: yue
  mvc:
    view:
      prefix: /
      suffix: .html
  thymeleaf:
    mode: HTML5
    encoding: UTF-8
    cache: false
    prefix: classpath:/templates/
    suffix: .html
